@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  html::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .skill-img {
    @apply lg:w-16 lg:h-16 w-12 h-12 hover:scale-[1.1] transition-all duration-300 ease-in-out;
  }

  .contact-input {
    @apply bg-transparent border-b-2 border-blue-900 pb-2 leading-5 text-[20px] focus:outline-none focus:border-green-600;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hidescrollbar {
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
